<nav class="navbar navbar-dark black mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" id="lil-uzi" href="/">
            <img src="/img/liluzibolt-white2.svg" alt="" height="100">
        </a>
        <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" id="allOrdersTab">Pending</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white2text" id="deliveredTab">Delivered</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white2text" id="logOut">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    <div class="row">
        <div class="col-1">
            {{!-- empty column --}}
        </div>
        <div class="col-10">
            <div class="container col-12 text-center header-style">
                <img src="/img/pending-orders.svg" width="90%">
            </div>
            <div class="mt-4 row-btn text-center">
                <a class="btn btn-primary black h3 link-color-alt btn-xl" id="newPackageBtn">Add
                    Package</a>
            </div>
        </div>
        <div class="col-1">
            {{!-- empty column --}}
        </div>
    </div>
</div>

{{#each shipments}}
{{#unless delivered}}

    <div class="row">
    <div class="col-1">
        {{!-- empty column --}}
    </div>
    <div class="container col-10 shadow-lg my-3 rounded white2background">
        <div class="row py-4 px-5 border-bottom border-secondary">
            <div class="col-10">
                <div class="row">
                    <h1><b>{{this.title}}</b></h1>
                </div>
                <div class="row">
                    <a class = "link-color" href={{this.trackingLink}} alt="Tracking Number">
                        <h2>{{this.tracking}}</h2>
                    </a>
                </div>
            </div>
            <h3 class="col-2"><img src={{this.carrier}} width="100%"></h3>
        </div>
        <div class="row p-5">
            <h2><i>{{this.description}}</i></h2>
        </div>
        <div>
            <img src="/img/in-transit.svg" class="mb-3" alt="Your order has been placed">
        </div>
    </div>
    <div class="col-1">
        {{!-- empty column --}}
    </div>
</div>
{{/unless}}
{{/each}}

<footer class="footer py-4 font-small text-dark">
    <div class="footer-copyright text-center container-fluid">
        © Track Star LLC, 2021
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/homepage.js"></script>