<nav class="navbar navbar-dark black mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="./img/liluzibolt-white2.svg" alt="" width="100">
        </a>
        <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">All Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white2text" href="#">Delivered</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white2text" href="#">Archive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white2text" href="#">{{username}}</a>
            </li>
        </ul>
    </div>
</nav>
<div class="white">
    <h2 class = "my-3"> Current Shipments </h2>
    {{#each shipments}}
    {{#unless delivered}}
        <div class="row">
            <div class="col-1">

            </div>
                <div class="container col-10 shadow-lg m-3 rounded white2background">
                    <div class = "row p-5 border-bottom border-secondary">
                        <div class="col-8">
                            <div class = "row">
                                <h3>{{this.title}}</h3>
                            </div>
                            <div class = "row">
                                <h4>{{this.tracking}}</h4>
                            </div>
                        </div>
                        <h3 class="col-4 ml-auto">{{this.carrier}}</h3>
                    </div>
                    <div class = "row p-5">
                        <h4>{{this.description}}</h4>
                    </div>
                </div>
            <div class="col-1">
        
            </div>
        </div>
    {{/unless}}
    {{/each}}

    <h2 class = "my-3"> Delivered Packages </h2>
    {{#each shipments}}
    {{#if delivered}}
        <div class="row">
            <div class="col-1">

            </div>
                <div class="container col-10 shadow-lg m-3 rounded white2background">
                    <div class = "row p-5 border-bottom border-secondary">
                        <div class="col-8">
                            <div class = "row">
                                <h3>{{this.title}}</h3>
                            </div>
                            <div class = "row">
                                <h4>{{this.tracking}}</h4>
                            </div>
                        </div>
                        <h3 class="col-4 ml-auto">{{this.carrier}}</h3>
                    </div>
                    <div class = "row p-5">
                        <h4>{{this.description}}</h4>
                    </div>
                </div>
            <div class="col-1">
        
            </div>
        </div>
    {{/if}}
    {{/each}}
</div>


<footer class="footer py-4 font-small text-light">
    <div class="footer-copyright text-center container-fluid">
        © Track Star LLC, 2021
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
<script src="script.js"></script>
