<nav class="navbar navbar-dark black mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" id="lil-uzi" href="/">
            <img src="/img/liluzibolt-white2.svg" alt="" height="80">
        </a>
        <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" id="allOrdersTab">All Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white2text" id="deliveredTab">Delivered</a>
            </li>
            <li class="nav-item">
                <a class="nav-link white2text" id="logOut">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
{{! add package button begins }}
<div class="container"
    <div class="row">
        <div class="container col-12 header-style">
            <img src="/img/pending-orders.svg" width="60%">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="container-fluid row-btn">
                <a class="btn btn-primary black h3 link-color-alt btn-xl justify-content-end" href="/newpackage">Add
                    Package</a>
            </div>
        </div>
    </div>

    {{! add package button ends }}

    {{! pending orders begins }}
    <div class="row">
        <div class="col-1">

        </div>
        <div class="container col-10 shadow-lg m-3 rounded white2background">
            <div class="row p-5 border-bottom border-secondary">
                <div class="col-8">
                    <div class="row">

                        <h3><b>Name of Package</b></h3>
                    </div>
                    <div class="row">
                        <a href="#" alt="Tracking Number">
                            <h4>Tracking Number</h4>
                        </a>
                    </div>
                </div>
                <h3 class="col-4 ml-auto"><img src="/img/usps.svg" width="40%"></h3>
            </div>
            <div class="row p-5">
                <h4><i>Item Description</i></h4>
            </div>
            <div>
                <img src="/img/placed.svg" class="mb-3" alt="Your order has been placed">
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>


{{! pending orders ends }}

{{#each shipments}}
{{#unless delivered}}

<div class="row">
    <div class="col-1">

    </div>
    <div class="container col-10 shadow-lg m-3 rounded white2background">
        <div class="row p-5 border-bottom border-secondary">
            <div class="col-8">
                <div class="row">
                    <h3></h3>
                    <h3><b>{{this.title}}</b></h3>
                </div>
                <div class="row">
                    <a href="#" alt="Tracking Number">
                        <h4>{{this.tracking}}</h4>
                    </a>
                </div>
            </div>
            <h3 class="col-4 ml-auto">{{this.carrier}}</h3>
        </div>
        <div class="row p-5">
            <h4><i>{{this.description}}</i></h4>
        </div>
    </div>
    <div class="col-1">

    </div>
</div>
{{/unless}}
{{/each}}

{{! delivered orders begins }}
 {{!-- <div class="row">
        <div class="container col-12 header-style">
            <img src="/img/delivered-orders.svg" width="68%">
        </div>
    </div>

    <div class="row">
        <div class="col-1">
        
        </div>
        <div class="container col-10 shadow-lg m-3 rounded white2background">
            <div class="row p-5 border-bottom border-secondary">
                <div class="col-8">
                    <div class="row">
                        <h3><b>Name of Package</b></h3>
                    </div>
                    <div class="row">
                        <a href="#" alt="Tracking Number">
                            <h4>Tracking Number</h4>
                        </a>
                    </div>
                </div>
                <h3 class="col-4 ml-auto"><img src="/img/ups.svg" width="40%"></h3>
            </div>
            <div class="row p-5">
                <h4><i>Item Description</i></h4>
            </div>
            <div>
                <img src="/img/delivered.svg" class="mb-3" alt="Your order has been delivered">
            </div>
        </div>
        <div class="col-1">
        </div>
    </div>

<div class="row">
    <div class="col-1">

    </div>
    <div class="container col-10 shadow-lg m-3 rounded white2background">
        <div class="row p-5 border-bottom border-secondary">
            <div class="col-8">
                <div class="row">
                    <h3><b>{{this.title}}</b></h3>
                </div>
                <div class="row">
                    <a href="https//:www.google.com/{{this.tracking}}" alt="Tracking Number">
                    <h4>{{this.tracking}}</h4>
                    </a>
                </div>
            </div>
            <h3 class="col-4 ml-auto">{{this.carrier}}</h3>
        </div>
        <div class="row p-5">
            <h4>{{this.description}}</h4>
        </div>
    </div>
    <div class="col-1">
    </div>
</div> --}}
{{! delivered orders ends }}

{{#each shipments}}
{{#if delivered}}



{{/if}}
{{/each}}
</div>


<footer class="footer py-4 font-small text-dark">
    <div class="footer-copyright text-center container-fluid">
        © Track Star LLC, 2021
    </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/homepage.js"></script>